.boton-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-estudiantes{
    margin: 33px;
    width: 20%;
    border-color: black;
    border-width: 1.5px;
}

.btn-profesores{
    margin: 33px;
    width: 20%;
    border-color: black;
    border-width: 1.5px;
}

.btn-asignaturas{
    margin: 33px;
    width: 20%;
    border-color: black;
    border-width: 1.5px;
}
